body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f4f4;
}
.login-container {
  height: 100vh;
  background: #fff;
}
.login-left {
  background: #fff url("../img/bg/bg_login.jpg");
  background-size: 90%;
  background-position: left;
  background-repeat: no-repeat;
}
.login-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #fff;
}

.login-form input {
  background: #f2f2f2;
  border: none;
  border-radius: 25px;
  padding: 0.8rem 1.2rem;
  margin-bottom: 1rem;
}

.login-form button {
  background: #1c7c85;
  border: none;
  color: white;
  margin-top: 20px;
  padding: 0.6rem 3rem;
  border-radius: 25px;
  font-weight: 600;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.login-form button:hover {
  color: #fff;
  background: #063c42;
}

.top-nav {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

.top-nav a {
  text-decoration: none;
  color: black;
}

.top-nav img {
  height: 40px;
}

body[data-page="auth-register"] {
  background: #f4f4f4;
}

.register-container {
  max-width: 500px;
  margin: 50px auto;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-control {
  border-radius: 25px;
}
button[type="submit"] {
  border-radius: 25px;
  background-color: #1c7c85;
  color: #fff;
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  border: none;
}
